{% extends 'base.html.twig' %}

{% block body %}
    SUCK A CITADINE
    <div> {{ title }} </div>
    <div> {{ slug }} </div>
    <div> {{ metaDescription }} </div>
    <div> {{ productFilters }} </div>
    <div> {{ topContent | markdown }} </div>
    <div> {{ bottomContent | markdown}} </div>
{% endblock %}
